.more-details-title{
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}